container_commands:
    90_install_nutritionist:
        command: "echo 52.32.192.127 nutrinopypi | sudo tee -a /etc/hosts"
    91_install_nutritionist:
        command: "pip install -i http://nutrino:Pearson21@nutrinoPypi/pypi/ --trusted-host nutrinopypi -r internal_requirements.txt"
commands:
    WSGIPassAuthorization:
        command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
        cwd: /opt/elasticbeanstalk/hooks
option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: run.py
    NumProcesses: 2
    NumThreads: 20
packages:
    yum:
        git: []